body {
  background: #eeeeee;
  font-family: "Varela Round", sans-serif;
  color: #083d93;
}

.content-title {
  width: 60%;
  margin-top: 6rem;
  margin-bottom: 4rem;
  color: #fff;
  background: #f56e28;
  padding: 10px 30px 5px 10px;
  box-shadow: 0px 0px 1em #999999;
  -webkit-box-shadow: 0px 0px 1em #999999;
  -moz-box-shadow: 0px 0px 1em #999999;
}

h4,
h5 {
  margin-top: 2rem;
  color: #083d93;
}

p {
  text-align: justify;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: #f56e28;
}

.navbar {
  color: rgb(56, 56, 56);
  background: #ffffff !important;
  padding: 5px 16px;
  border-radius: 0;
  border: none;
  box-shadow: 0px 0px 0.2em rgb(153, 151, 151);
  -webkit-box-shadow: 0px 0px 0.2em rgb(153, 151, 151);
  -moz-box-shadow: 0px 0px 0.2em rgb(153, 151, 151);
}
.navbar img {
  width: 36px;
  height: 36px;
  margin-right: 10px;
}
.navbar .navbar-brand {
  color: #575654;
  padding-left: 0;
  padding-right: 50px;
  font-size: 24px;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #575654;
}
.navbar .navbar-brand i {
  font-size: 25px;
  margin-right: 5px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #575654;
}
.search-box {
  position: relative;
}
.search-box input {
  padding-right: 35px;
  min-height: 38px;
  border: none;
  background: #faf7fd;
  border-radius: 3px !important;
}
.search-box input:focus {
  background: #fff;
  box-shadow: none !important;
  border: 1px solid #f56e28;
  outline-width: 0;
}
.search-box .input-group-addon {
  min-width: 35px;
  border: none;
  background: transparent;
  position: absolute;
  right: 0;
  z-index: 9;
  padding: 10px 7px;
  height: 100%;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.search-box i {
  color: #a0a5b1;
  font-size: 19px;
}
.navbar .nav-item i {
  font-size: 18px;
}
.navbar .nav-item span {
  position: relative;
  font-size: 16px;
  top: 3px;
}
.navbar .navbar-nav > a {
  color: #eae6f0;
  padding: 8px 15px;
  font-size: 14px;
}
.navbar .navbar-nav > a:hover,
.navbar .navbar-nav > a:focus {
  color: #fff;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.3);
}
.navbar .navbar-nav > a > i {
  display: block;
  text-align: center;
}
.navbar .dropdown-item i {
  font-size: 16px;
  min-width: 22px;
}
.navbar .dropdown-item .material-icons {
  font-size: 21px;
  line-height: 16px;
  vertical-align: middle;
  margin-top: -2px;
}
.navbar .nav-item.open > a,
.navbar .nav-item.open > a:hover,
.navbar .nav-item.open > a:focus {
  color: #fff;
  background: none !important;
}
.navbar .dropdown-menu {
  border-radius: 1px;
  border-color: #e5e5e5;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
.navbar .dropdown-menu a {
  color: #777 !important;
  padding: 8px 20px;
  line-height: normal;
  font-size: 15px;
}
.navbar .dropdown-menu a:hover,
.navbar .dropdown-menu a:focus {
  color: #333 !important;
  background: transparent !important;
}
.navbar .navbar-nav .active a,
.navbar .navbar-nav .active a:hover,
.navbar .navbar-nav .active a:focus {
  color: #fff;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.2);
  background: transparent !important;
}
.navbar .navbar-nav .user-action {
  padding: 9px 15px;
  font-size: 15px;
}
.navbar .navbar-toggle {
  border-color: #fff;
}
.navbar .navbar-toggle .icon-bar {
  background: #fff;
}
.navbar .navbar-toggle:focus,
.navbar .navbar-toggle:hover {
  background: transparent;
}
.navbar .navbar-nav .open .dropdown-menu {
  background: #faf7fd;
  border-radius: 1px;
  border-color: #faf7fd;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
.navbar .divider {
  background-color: #e9ecef !important;
}
@media (min-width: 1200px) {
  .form-inline .input-group {
    width: 350px;
    margin-left: 30px;
  }
}
@media (max-width: 1199px) {
  .navbar .navbar-nav > a > i {
    display: inline-block;
    text-align: left;
    min-width: 30px;
    position: relative;
    top: 4px;
  }
  .navbar .navbar-collapse {
    border: none;
    box-shadow: none;
    padding: 0;
  }
  .navbar .navbar-form {
    border: none;
    display: block;
    margin: 10px 0;
    padding: 0;
  }
  .navbar .navbar-nav {
    margin: 8px 0;
  }
  .navbar .navbar-toggle {
    margin-right: 0;
  }
  .input-group {
    width: 100%;
  }
}

/*********** footer ************/

.new_footer_area {
  background: #fbfbfd;
}

.new_footer_top {
  padding: 120px 0px 270px;
  position: relative;
  overflow-x: hidden;
}
.new_footer_area .footer_bottom {
  padding-top: 5px;
}
.footer_bottom {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #f56e28;
  padding: 27px 0px;
}
.new_footer_top .company_widget p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #f56e28;
  margin-bottom: 20px;
}
.new_footer_top .company_widget .f_subscribe_two .btn_get {
  border-width: 1px;
  margin-top: 20px;
}
.btn_get_two:hover {
  background: transparent;
  color: #f56e28;
}
.btn_get:hover {
  color: #fff;
  background: #f56e28;
  border-color: #f56e28;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:hover,
a:focus,
.btn:hover,
.btn:focus,
button:hover,
button:focus {
  text-decoration: none;
  outline: none;
}

.new_footer_top .f_widget.about-widget .f_list li a:hover {
  color: #f56e28;
}
.new_footer_top .f_widget.about-widget .f_list li {
  margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
  margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
  margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
  margin-bottom: 0px;
}
.new_footer_top .f_social_icon a {
  width: 44px;
  height: 44px;
  line-height: 43px;
  margin-left: 25px;
  background: transparent;
  border: 1px solid #e2e2eb;
  font-size: 24px;
}
.f_social_icon a {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 45px;
  color: #f56e28;
  display: inline-block;
  background: #ebeef5;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.ti-facebook:before {
  content: "\e741";
}
.ti-twitter-alt:before {
  content: "\e74b";
}
.ti-vimeo-alt:before {
  content: "\e74a";
}
.ti-pinterest:before {
  content: "\e731";
}

.btn_get_two {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #f56e28;
  border-color: #f56e28;
  color: #fff;
  margin-bottom: 2rem;
}

.btn_get_two:hover {
  background: transparent;
  color: #f56e28;
  box-shadow: 0px 0px 1em #999999;
  -webkit-box-shadow: 0px 0px 1em #999999;
  -moz-box-shadow: 0px 0px 1em #999999;
}

.new_footer_top .f_social_icon a:hover {
  background: #f56e28;
  border-color: #f56e28;
  color: white;
}
.new_footer_top .f_social_icon a + a {
  margin-left: 10px;
}
.new_footer_top .f-title {
  margin-bottom: 30px;
  color: #263b5e;
}
.f_600 {
  font-weight: 600;
}
.f_size_18 {
  font-size: 18px;
}

.new_footer_top .f_widget.about-widget .f_list li a {
  color: #083d93;
}

.new_footer_top .footer_bg {
  position: absolute;
  bottom: 0;
  background: url("http://droitthemes.com/html/saasland/img/seo/footer_bg.png")
    no-repeat scroll center 0;
  width: 100%;
  height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
  background: url("https://1.bp.blogspot.com/-mvKUJFGEc-k/XclCOUSvCnI/AAAAAAAAUAE/jnBSf6Fe5_8tjjlKrunLBXwceSNvPcp3wCLcBGAsYHQ/s1600/volks.gif")
    no-repeat center center;
  width: 330px;
  height: 105px;
  background-size: 100%;
  position: absolute;
  bottom: 0;
  left: 30%;
  -webkit-animation: myfirst 22s linear infinite;
  animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
  background: url("https://1.bp.blogspot.com/-hjgfxUW1o1g/Xck--XOdlxI/AAAAAAAAT_4/JWYFJl83usgRFMvRfoKkSDGd--_Sv04UQCLcBGAsYHQ/s1600/cyclist.gif")
    no-repeat center center;
  width: 88px;
  height: 100px;
  background-size: 100%;
  bottom: 0;
  left: 38%;
  position: absolute;
  -webkit-animation: myfirst 30s linear infinite;
  animation: myfirst 30s linear infinite;
}

@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

/*************footer End*****************/

/*************** Plans ******************/

.plan {
  background: #fff;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  margin: 30px 0px;
  border-radius: 12px;
  position: relative;
}
.plan-header {
  color: #fff;
  position: relative;
  margin-top: -2rem;
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0px 0px 1em #999999;
  -webkit-box-shadow: 0px 0px 1em #999999;
  -moz-box-shadow: 0px 0px 1em #999999;
}
.price {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.price span {
  font-size: 30px;
}

.storage {
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0px 0;
}
.storage span i {
  font-size: 50px;
  margin-right: 10px;
}

.title {
  width: 80%;
  text-align: center;
  padding: 10px 0;
  font-size: 22px;
  margin: 0 auto;
  position: relative;
  bottom: -20px;
  border-radius: 8px;
  box-shadow: 0px 0px 1em #999999;
  -webkit-box-shadow: 0px 0px 1em #999999;
  -moz-box-shadow: 0px 0px 1em #999999;
}
.services-list {
  padding: 10px 20px;
}
.services-list li {
  padding: 10px 0px;
  font-size: 16px;
  list-style-type: none;
  text-align: center;
  border-bottom: 1px solid #ddd;
  width: 80%;
  margin: 0 auto;
}
.border {
  width: 80px;
  height: 1px;
  background: #ddd;
  margin: auto;
}

.plan a {
  display: block;
  text-decoration: none;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px 0;
  transition: 0.5s;
}

.plan a:hover {
  border-radius: 30px;
}

.netuno-plan .plan-header {
  background: #2980b9;
}

.netuno-plan .title {
  color: #fff;
  font-size: 26px;
  background-image: linear-gradient(125deg, #03a9f4, #ff76a4);
}
.netuno-plan a {
  color: #2980b9;
}

.netuno-plan a:hover {
  background: #2980b9;
  color: #fff;
}

.urano-plan .plan-header {
  background: #df7131;
}

.urano-plan .title {
  color: #fff;
  font-size: 26px;
  background-image: linear-gradient(125deg, #df6e23, #a8c8f3);
}

.urano-plan a {
  color: #2980b9;
}

.urano-plan a:hover {
  background: #2980b9;
  color: #fff;
}

.saturno-plan .plan-header {
  background: #2c3e50;
}

.saturno-plan .title {
  color: #fff;
  font-size: 26px;
  background-image: linear-gradient(125deg, #6891b9, #6f8488);
}

.saturno-plan a {
  color: #2c3e50;
}

.saturno-plan a:hover {
  background: #2c3e50;
  color: #fff;
}

.jupiter-plan a {
  color: #c0392b;
}

.jupiter-plan .plan-header {
  background: #c0392b;
}

.jupiter-plan .title {
  color: #fff;
  font-size: 26px;
  background-image: linear-gradient(125deg, #e74c3c, #f39c12);
}

.jupiter-plan a:hover {
  background: #c0392b;
  color: #fff;
}

.mobile-plan a {
  color: #712bc0;
}

.mobile-plan .plan-header {
  background: #712bc0;
}

.mobile-plan .title {
  color: #fff;
  font-size: 26px;
  background-image: linear-gradient(125deg, #f56e28, #f39c12);
}

.mobile-plan a:hover {
  background: #712bc0;
  color: #fff;
}

/************* Login **************/

.card0 {
  box-shadow: 0px 4px 8px 0px #757575;
  border-radius: 10px;
}

.card2 {
  margin: 0px 40px;
}

.logo {
  width: 200px;
  height: 100px;
  margin-top: 50px;
  margin-left: 70px;
}

.image {
  width: 360px;
  height: 280px;
}

.border-line {
  border-right: 1px solid #eeeeee;
}

.facebook {
  background-color: #3b5998;
  color: #fff;
  padding-top: 5px;
  border-radius: 4px;
  width: 122px;
  height: 35px;
  cursor: pointer;
}

.gmail {
  background-color: #e94b4b;
  color: #fff;
  padding-top: 5px;
  border-radius: 4px;
  width: 122px;
  height: 35px;
  cursor: pointer;
}

.linkedin {
  background-color: #2867b2;
  color: #fff;
  padding-top: 5px;
  border-radius: 4px;
  width: 122px;
  height: 35px;
  cursor: pointer;
}

.line {
  height: 1px;
  width: 45%;
  background-color: #e0e0e0;
  margin-top: 10px;
}

.or {
  width: 10%;
  font-weight: bold;
}

.text-sm {
  font-size: 14px !important;
}

::placeholder {
  color: #bdbdbd;
  opacity: 1;
  font-weight: 300;
}

:-ms-input-placeholder {
  color: #bdbdbd;
  font-weight: 300;
}

::-ms-input-placeholder {
  color: #bdbdbd;
  font-weight: 300;
}

input,
textarea {
  padding: 10px 12px 10px 12px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  margin-bottom: 5px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  color: #2c3e50;
  font-size: 14px;
  letter-spacing: 1px;
}

input:focus,
textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #f56e28;
  outline-width: 0;
}

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
}

a {
  color: inherit;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .logo {
    margin-left: 0px;
  }

  .image {
    width: 300px;
    height: 220px;
  }

  .border-line {
    border-right: none;
  }

  .card2 {
    border-top: 1px solid #eeeeee !important;
    margin: 0px 15px;
  }
}

.myfriend {
  border-radius: 8px;
  padding: 30px;
  margin-bottom: 5rem;
  box-shadow: 0px 0px 1em #d3d3d3;
  -webkit-box-shadow: 0px 0px 1em #d3d3d3;
  -moz-box-shadow: 0px 0px 1em #d3d3d3;
}

/*------------- Form ---------------*/

.nb-form {
  position: fixed;
  z-index: 9999;
  width: 300px;
  background: #fff;
  right: 20px;
  bottom: -367px;
  transition: all 0.8s cubic-bezier(0.22, 0.67, 0.43, 1.22) 0.2s;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.nb-form:hover {
  bottom: 0px;
}

/*-- User Icon --*/

.nb-form .user-icon {
  position: absolute;
  top: -49px;
  right: 12px;
  display: block;
  width: 58px;
  margin: 20px auto 15px;
  border-radius: 100%;
}

/*-- Title --*/

.nb-form .title {
  background: #f56e28;
  font-size: 18px !important;

  color: #fff !important;
  border-radius: 10px 10px 0 0;
}

.title-contact {
  margin-bottom: 1rem;
  color: #fff;
  background: #f56e28;
  padding: 20px;
  box-shadow: 0px 0px 1em #999999;
  -webkit-box-shadow: 0px 0px 1em #999999;
  -moz-box-shadow: 0px 0px 1em #999999;
}

/*-- Text --*/

.form-container input {
  font-size: 14px;
  width: 86%;
  height: 30px;
  margin-bottom: 20px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  outline: none;
  box-shadow: none;
}

.group {
  width: 90%;
  display: flex;
}

.group input + input {
  margin-left: 20px;
}

.nb-form p.message {
  margin-left: 7px;
}

/*-- Form Elements --*/

.nb-form form {
  padding: 0 15px 15px 15px;
}

.nb-form input,
.nb-form textarea {
  font-size: 14px;
  width: 254px;
  max-width: 254px;
  margin-bottom: 7px;
  padding: 6px;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  resize: none;
}

.nb-form input:focus,
.nb-form textarea:focus {
  outline: none;
  box-shadow: none;
}

.nb-form input[type="submit"] {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.4s ease;
  color: #fff;
  border: none;
  font-weight: bold;
}

.nb-form textarea {
  min-height: 110px;
}

@media screen and (max-width: 676px) {
  .nb-form:hover .user-icon {
    display: none;
  }

  .nb-form .message {
    display: none;
  }

  .nb-form form {
    padding-top: 15px;
  }
  .nb-form {
    right: 50%;
    bottom: -320px;
    left: 50%;
    transform: translateX(-50%);
  }
}
